# Connection settings
SMART_SENSOR_API_URL=https://api.smartsensor.abb.com/
#PROXY=

# Access credentials
SMART_SENSOR_API_KEY=<YOUR API KEY>

# Logging
LOGGING_LEVEL=DEBUG

# Test Asset Info
ASSET_ID_1=<EXAMPLE ASSET ID>
MEASUREMENT_TYPE_1=4
START_DATE=2020-01-01
END_DATE=2020-05-01
VALUE_LIST="-40, 50, 60, 85"            # be aware that this will change the threshold of the chosen asset for the chosen measurement type
NOTIFICATION_TYPE=13
NOTIFICATION_CHANNEL=3
URL=<WEBHOOK URL>                       # you can get this URL here: https://webhook.site/